* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
  }

html {
    min-width: 300px;
    max-height: calc(100vh -100px);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
}
body {
    background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #2a9daf, #e76f51);
    background-size: auto;
    min-width: 300px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}


.header_bar {
    min-width: 300px;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
    color: #110d0d;
}

.scoreWrapper {
    display:flex;
    width: 100%;
    justify-content: center;
}
.scoreBar {
    display: flex;
    width: 80%;
    max-width: 1000px;
    justify-content: space-around;
    align-items: flex-end;

}

.roundContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.playerContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.computerContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.selection {
    font-size: 1em;
    text-align: center;
    margin: 0 0 1em 0;
}

.img{
    width: 80%;
    height: 80%;
}
.item {
    font-size: 35px;
    padding: 20px;;
}

.btn {
    display: block;
    border: none;
    font-weight: bold;
    background-color: transparent;
    width: 100%;
}
.btn:hover {
    background-color: #e9c46a;
}

.suspense {
    animation: fadeIn ease 4s;
   -webkit-animation: fadeIn ease 4s;
   -moz-animation: fadeIn ease 4s;
   -o-animation: fadeIn ease 4s;
   -ms-animation: fadeIn ease 4s;
 }

 .suspense2 {
    animation: fadeIn ease 3s;
   -webkit-animation: fadeIn ease 3s;
   -moz-animation: fadeIn ease 3s;
   -o-animation: fadeIn ease 3s;
   -ms-animation: fadeIn ease 3s;
 }

 .suspenseOut { 
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
    animation-fill-mode: forwards;
 }

 @keyframes fadeIn {
     0% {
       opacity:0;
     }
     100% {
       opacity:1;
     }
   }
   
   @-moz-keyframes fadeIn {
     0% {
       opacity:0;
     }
     100% {
       opacity:1;
     }
   }
   
   @-webkit-keyframes fadeIn {
     0% {
       opacity:0;
     }
     100% {
       opacity:1;
     }
   }
 
 @-o-keyframes fadeIn {
     0% {
       opacity:0;
     }
     100% {
       opacity:1;
     }
   }
   
   @-ms-keyframes fadeIn {
     0% {
       opacity:0;
     }
     100% {
       opacity:1;
   }
 }


 @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
        opacity:0;
      }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }

@-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
  }
}